.scope {
  background: #1b1b1b;
  padding-top: 100px;
}

.scope_title {
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.scope_title span {
  color: #f5b754;
}

.scope_boxs {
  align-items: stretch;
  justify-content: space-between;
}

.scope_box {
  border: 2px solid #f5b754;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 80px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.scope_right {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
  gap: 10px; 
}

.scope_box h3{
color: #f5b754;
  margin-left: 70px;
  font-size: 28px;
}

.scope_right h1 {
  color: #f5b754;
  margin-bottom: 10px;
}

.scope_right p {
  color: white;
  margin: 0;
  width: 70%;
  line-height: 1.6;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%; 
  padding: 10px;
}

.scope_title1{
color: white;
}

.scope_box:hover {
  transform: scale(1.1);
}
