.ddshop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/homeabout_img/img1.jpg");
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ddshop_title{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white; 
}

.ddshop_title span{
    color: #f5b754;
}

