.productheader{
    background-color: #1b1b1b;
    width: 100%;
    padding-bottom: 100px;

}

.offer_button {
    background: #1b1b1b;
    padding-bottom: 50px;
  }
  
  .pro_box {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
  }
  
  .pro_box1,
  .pro_box2,
  .pro_box3,
  .pro_box4 {
    width: 300px;
    height: 200px;
    border: 2px solid #f5b754;
    margin-top: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  /* Har bir box'ga fon rasmi beramiz */
  .pro_box1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets//offer_info/img5.png");
    background-position: center;
    background-size: cover;
  }
  
  .pro_box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets//offer_info/img4.png");
    background-position: center;
    background-size: cover;
  }
  
  .pro_box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets//offer_info/img3.png");
    background-position: center;
    background-size: cover;
  }
  
  .pro_box4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets//offer_info/img2.png");
    background-position: center;
    background-size: cover;
  }
  
  /* Textni boshlang'ich holatda pastga yashiramiz */
  .pro_box h2 {
    position: absolute;
    bottom: -65px; /* Yashirin boshlang'ich pozitsiya */
    transition: bottom 0.3s ease-in-out;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  /* Hover qilinganda matn pastdan chiqib keladi */
  .pro_box1:hover h2,
  .pro_box2:hover h2,
  .pro_box3:hover h2,
  .pro_box4:hover h2 {
    bottom: 20px;
  }
  
  /* Hover bo'lganda ozgina kattalashish effekti */
  .pro_box1:hover,
  .pro_box2:hover,
  .pro_box3:hover,
  .pro_box4:hover {
    transform: scale(1.05);
  }
  
  a {
    color: white;
  }
  
  @media (max-width: 768px) {
    .pro_box{
      justify-content: center;
    }
  }