.partners {
  background: #222222;
}

.partner_wrapper2 img {
  width: 200px;
  margin: 50px;
  transition: 0.4s;
}

.partners_marquee {
  display: flex;
  align-items: center;
}

.partners_marquee img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.partners_title {
  text-align: center;
  color: white;
  position: relative;
  top: 40px;
  font-size: 40px;
}

.partners_title span {
  color: #f5b754;
}